<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Particleboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ParticleboardOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E730A08C1D8841360013FBE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E730A0941D8841360013FBE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74F53B31C03AE810050BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74F53BD1C03AE810050BA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CBDB241D1B237D00FE9E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CBDB2D1D1B237D00FE9E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
